@require 'variables'
@require 'global'
@require 'layout'
@require 'terminal'
@require 'modal'

@require '../../node_modules/golden-layout/src/css/goldenlayout-base.css'
@require '../../node_modules/golden-layout/src/css/goldenlayout-dark-theme.css'
