html, body {
  margin: 0;
  background: #222;
  padding: 0;
}

div {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  margin: 25px;
}

a {
  font: 20px/1.5 sans-serif;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  -webkit-appearance: none;
  text-decoration: none ;
}

li {
    list-style: none;
}


a:active, a:hover {
  color: orange;
}


