html, body
  margin: 0
  background: #222
  padding: 0

a
  font: 20px/1.5 sans-serif
  color: white
  cursor: pointer
  background: none
  border: none
  text-decoration: none
  appearance: none
  &:active
  &:hover
    color: orange

li
  list-style: none



