/**
 * GoldenLayout override
 */
.lm_root
  top: 0
  left: 0
  position: absolute !important

.lm_header
  .lm_controls
  > li
    color: color-white

.lm_root
> .lm_stack
> .lm_header
  margin-bottom: 2px

.lm_content
  position: relative