.window
  padding: 0px
  height: 100%
  background: color-black
  box-shadow: none
  overflow-y: auto
  overflow-x: hidden !important

  > iframe
    box-sizing: border-box
    border: 2px solid color-gray-dark !important