.window
  padding: 0px
  background: #000
  box-sizing: border-box
  box-shadow: none
  border: 2px solid #222
  overflow-y: auto !important
  overflow-x: hidden !important

  .terminal
    padding: 3px
    font-family: "Monaco", "DejaVu Sans Mono", "Liberation Mono", monospace
    font-size: 12px
    font-weight: bold
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #f0f0f0
    box-sizing: border-box
    background: #222
    white-space: nowrap
    position: relative
    height: 100%

    .reverse-video
      color: #000
      background: #f0f0f0
