.window
  padding: 0px
  background: color-black
  box-sizing: border-box
  box-shadow: none
  border: 2px solid color-gray-dark
  overflow-y: auto
  overflow-x: hidden !important

  .terminal
    padding: 3px
    font-family: "Monaco", "DejaVu Sans Mono", "Liberation Mono", monospace
    font-size: 12px
    font-weight: bold
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: color-gray-light
    box-sizing: border-box
    background: color-gray-dark
    white-space: nowrap
    position: relative
    height: 100%

    .reverse-video
      color: color-black
      background: color-gray-light
