<!doctype html>
<head>
    <title>tty.js</title>
    <link rel="stylesheet" href="{{static_url}}/style.css">
    <link rel="stylesheet" href="{{ url_prefix }}/vendors/golden-layout/src/css/goldenlayout-base.css" />
    <link rel="stylesheet" href="{{ url_prefix }}/vendors/golden-layout/src/css/goldenlayout-dark-theme.css" />
</head>

<body>
    <h1>
        <ul>
           <li><a href="{{url_prefix}}"> Open a terminal </a></li>
        </ul>
    </h1>

    <script type="application/javascript">
        window.io_resource = "{{ url_prefix }}/socket.io";
    </script>

    <script src="{{ url_prefix }}/socket.io/socket.io.js"></script>
    <script src="{{ url_prefix }}/vendors/jquery/dist/jquery.js"></script>
    <script src="{{ url_prefix }}/vendors/golden-layout/dist/goldenlayout.js"></script>
    <script src="{{ static_url }}/term.js"></script>
    <script src="{{ static_url }}/options.js"></script>
    <script src="{{ static_url }}/helpers.js"></script>
    <script src="{{ static_url }}/tty.js"></script>
    <script src="{{ static_url }}/window.js"></script>
    <script src="{{ static_url }}/tab.js"></script>
    <script src="{{ static_url }}/terminal.js"></script>
    <script src="{{ static_url }}/layout.js"></script>
    <script src="{{ static_url }}/shortcuts.js"></script>
</body>
